<footer style="margin-top:80px">

    <div class="footer-category">

      <div class="container">

        <!-- <h2 class="footer-category-title">Brand directory</h2> -->

        <div class="footer-category-box">

          <h1 class="footer-category-title">
            فروش بصورت عمده به تمام نقاط کشور
            (عمده فروشان.فروشگاه ها.ارزانسراهاو...)
            تهران خیابان خیام جنوبی شعبه هرندی و گمرک بنکداری مهدوی
            ۰۹۱۲۹۵۸۲۵۶۸
          
          </h1>

         

        </div>

       

      

      </div>

    </div>

   

    <div class="footer-bottom">

      <div class="container">

       <h3 style="color:azure">  ۰۹۱۲۹۵۸۲۵۶۸</h3>

        <p class="copyright">
          Copyright &copy;  <a href="https://www.instagram.com/omde_paytakht/" target="_blank" rel="noopener noreferrer"> omde_paytakht</a> all rights reserved.
        </p>

      </div>

    </div>

  </footer>